<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>输入网址</title>
</head>
<body>
<form action=""{{ url_for('login') }}" method="post">
    <table>
        <tbody>
            <tr>
                <td>爬取网址：</td>
                <td><input type="text" placeholder="请输入网址" name="web"></td>
                <td>（如果需要爬取多个网址，请一并输入，以分号或逗号间隔）</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="确定"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>